.activities
{
  background-color: yellow;
  padding: 2px;

}

.activities .card
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 425;
  height: 500px;
  margin: auto;
  text-align: left;
  position: relative;
  background-color: pink;
}
article .activities .card
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 425;
  height: 150px;

  text-align: left;
  display: flex;
  flex-direction: row;
}

.activities .card img{
  height: 450px;
  object-fit: cover;
}




/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
{


  .card .mmn-small-twothird
  {
    width: 66.66%;
    background-color: brown;

  }
  .mmn-small-third
  {
    width: 33.33%;
    background-color: pink;

  }

}
