
.icon
{
  padding: 10px;
  background-color: var(--blue-light);
  color: var(--blue);
  border-radius: 50%;
  font-size: 18px;
}
.mmn-info
{
  float:left;
  padding: 0px 8px 4px 8px;
}

input[type=text]
{
  padding: 1px;
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  height: 40px;
}


span.a
{
  display: inline; /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
}


/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
{

  span.block
  {
    display: block;
    width: 100%;
    text-align: justify;
    justify-content: space-between;
  }
  input[type=text]
  {
    width: 60%;
    max-width: 250px;

  }

}
