
.flex-container
{
  display: flex;
  justify-content: space-around;
  background-color: DodgerBlue;
  flex-wrap: wrap;
  align-content: space-around;
  overflow: scroll;

}

.flex-container > div
{
  background-color: white;
  width: 200px;
  margin: 5px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  flex-grow: 3;
}
.flex-container-stretch
{
  display: flex;
  align-items: stretch;

}

.flex-container-stretch > div
{
  margin: 1px;
  align-self: center;
  padding: 5px;

}
aside .row
{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
aside .column
{
  flex: 100%;
  max-width: 100%;
  padding: 5px 4px;
  margin-bottom: 15px;
  height: 100px;
  content: 'max-content';
  background-color: red;
}

.box {
  display: row;
  align-items: center;
  justify-content: left;

}

.box div {
  width: 100%;
  height: 55px;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
{

.flex-container > div
{
  width: 100%;
  margin: 5px;
  text-align: center;
  font-size: 30px;
  flex-grow: 1;
}

}
