*
{
  box-sizing: border-box;

}

:root
{
  --blue       : #0065FC;
  --blue-light : #DEEBFF;

  --light-grey: #F2F2F2;
  --grey       : #e6e6e6;
}

body
{
  background-color: #FFF;
  font-family: 'Raleway', sans-serif;
  text-align: justify;
}

h1
{
  font-size: 22px;
  font-weight: bold;
}

h2
{
  font-size: 20px;
  font-weight: bold;
}
h3
{
  font-size: 16px;
  font-weight: bold;
}
p
{
  font-size: 14px;
}

.mmn-container
{
  width: 100%;
  padding: 10px;

  display: flex;
}

.mmn-rounded
{
  border-radius: 25px;

}

.mmn-container, .mmn-half :after
{
  content: "";
  display: table;
  clear: both;
}

.mmn-half
{
  width: 50%;

  background-color: teal;
  float: left;
}
.mmn-quarter
{
  width: 25%;

  background-color: teal;
  float: left;
}
.mmn-threequarter
{
  width: 75%;

  background-color: teal;
  float: left;
}
.mmn-twothird
{
  width: 66.66%;

  background-color: teal;
  float: left;
}
.mmn-third
{
  width: 33.33%;

  background-color: teal;
  float: left;
}


.flex-container
{
  display: flex;
  justify-content: space-around;
  background-color: DodgerBlue;
  flex-wrap: wrap;
  align-content: space-around;
  overflow: scroll;

}

.flex-container > div
{
  background-color: #f1f1f1;
  width: 200px;
  margin: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  flex-grow: 3;
}


.mmn-right
{
  text-align: right;
  background-color: purple;
  width: auto;
  float: right;
}
.mmn-left
{
  text-align: left;
  background-color: red;
}
.mmn-center
{
  margin: auto;
  text-align: center;

}


.mmn-padding
{
  padding: 8px;
}
.mmn-padding-16
{
  padding: 16px;
}
.mmn-padding-32
{
  padding: 32px;
}
.mmn-margin
{
  margin: 8px;
}
{
  margin-top: 8px;
}
.mmn-margin-bootom
{
  margin-bottom: 8px;
}
.mmn-margin-top
{
  margin-top: 8px;
}
.mmn-margin-left
{
  margin-left: 8px;
}
.mmn-margin-right
{
  margin-right: 8px;
}

.item {
  align-self: auto | flex-start | flex-end | center | baseline | stretch;
}

.mmn-circle
{
  border-radius: 50%;
}

.mmn-border
{
  border: 1px solid;
}
/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
{

  p
  {
    font-size: 14px;
  }

  .mmn-container, .mmn-half
  {
    width: 100%;
    background-color: orange;

  }
  .mmn-twothird, .mmn-third,
  {
    width: 100%;
    background-color: yellow;
    padding: 50px;
  }
  .flex-container-r
  {
    display: flex;
    justify-content: space-around;
    background-color: purple;
    flex-wrap: wrap;
    align-content: space-around;
    overflow: scroll;
    flex-direction: row-reverse;

  }

  .flex-container-r > section
  {
    background-color: pink
    width: 200px;
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    flex-grow: 3;
  }
  span.a {
  display: inline; /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}

  .mmn-hide-small
  {
    display: none;
  }

}
