
/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
{

  .mmn-twothird, .mmn-third
  {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

  }

}
