
/* Style the top navigation bar */
.topnav
{
  overflow: hidden;
  height: 100px;

}

/* Style the topnav links */
.topnav a
{
  float: right;
  display: block;
  text-align: center;
  padding: 18px 38px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* Change color on hover */
.topnav a:hover
{
  color: var(--blue);
  border-top: var(--blue) solid 4px
}

.topnav h2
{
  font-weight: lighter;
}
.topnav .logo a:hover
{
  background-color: white;
  color: var(--blue);
  border: var(--blue) solid 0px

}
.topnav .logo a
{
   color: var(--blue);
   padding: 0px;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
{

  .topnav a
  {
    float: none;
    width: 100%;
  }
  .topnav a:hover
  {
    color: var(--blue);
    border-top: 0px;
    border-bottom: var(--blue) solid 2px
  }
  .topnav a
  {
    width: 50%;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
  }
  .topnav .logo
  {
    overflow: hidden;
    text-align: center;
    margin: auto;
    width: 100%;
  }
  h1
  {
    overflow: hidden;
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .topnav .logo a
  {
    width: 100%;
    float: left;
    display: block;
    text-align: center;

  }


}
